<div class="content">
    <h1 class="m-t-20"> {{'404' | translate}} </h1>
    <p class="error-title"> {{'PAGE NOT FOUND' | translate}} </p>
    <p class="m-b-20">
      {{'Sorry, the page you were looking for could not found. Please check the URL and try your luck again' | translate}}.
      <a class="color-green" routerLink="/index"> {{'Go homepage' | translate}} </a>
      {{'or try the search bar below' | translate}}.
    </p>
    <form action='javascript:;'>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for page">
            <div class="input-group-btn">
                <button class="btn btn-success" type="button"> {{'Search' | translate}} </button>
            </div>
        </div>
    </form>
</div>
<style type="text/css">
    .content{
        max-width: 450px;
        margin:0 auto;
        text-align: center;
    }
    .content h1 {
        font-size: 160px
    }
    .error-title {
        font-size:22px;
        font-weight:500;
        margin-top: 30px
    }
</style>
