<p-breadcrumb [home]="home" [model]="items"></p-breadcrumb>

<p-panel header="{{ 'Filter' | translate }}">

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <label class="font-weight-bold"> Code </label>
      <input [(ngModel)]="searchCode" pInputText type="text"/>
    </div>
    <div class="col-md-4"></div>
  </div>

  <br/>

  <div class=" text-center">
    <button (click)="reset()" class="btn btn-primary m-1" type="button"> {{ 'Reset' | translate }} </button>
    <button (click)="search()" class="btn btn-success m-1" type="button"> {{ 'Search ' | translate }} </button>
  </div>


  <app-data-table
    (exportBtnExcelGlobal)="onExportExcel($event)"
    (exportBtnExcelVue)="onExportExcel($event)"
    (exportBtnPdf)="onExportPdf($event)"
    (lazyLoadData)="loadDataLazy($event)"
    (objectEdited)="onObjectEdited($event)"
    [className]="className"
    [collectionSize]="collectionSize"
    [cols]="cols"
    [listName]="listTitle"
    [objectList]="resumeStatusList"
    [generateBtnVisible] = true
    [size]="size">
  </app-data-table>

</p-panel>

<ngx-spinner
  bdColor="rgba(255,255,255,0)"
  color="#00d2ff"
  size="large"
  type="ball-spin-fade-rotating"
></ngx-spinner>

<p-confirmDialog
  [acceptLabel]="'Oui'"
  [rejectLabel]="'Non'"
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>

<p-toast
  [baseZIndex]="5000"
  position="top-right">

</p-toast>

<!-- BEGIN Add Dialog -->
<p-dialog [(visible)]="dialogDisplayAdd" [draggable]="true" [modal]="true" [resizable]="true"
           [style]="{width: '70vw'}" header="Header">
  <br/>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <label class="font-weight-bold"> Code </label>
      <input [(ngModel)]="addCode" pInputText type="text"/>
    </div>
    <div class="col-md-2"></div>
  </div>
  <ng-template pTemplate="footer">
    <button (click)="dialogDisplayAdd=false" class="btn btn-primary m-1" type="button"> {{ 'Close' | translate }} </button>
    <button (click)="onSave()" class="btn btn-success m-1" type="button"> {{ 'Add' | translate }} </button>
  </ng-template>
</p-dialog>
<!-- END Add Dialog -->

<!-- BEGIN Edit Dialog -->
<p-dialog [(visible)]="dialogDisplayEdit" [draggable]="true" [modal]="true" [resizable]="true"
           [style]="{width: '70vw'}" header="Header">
  <br/>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <label class="font-weight-bold"> Code </label>
      <input [(ngModel)]="updateCode" pInputText type="text"/>
    </div>
    <div class="col-md-2"></div>
  </div>
  <ng-template pTemplate="footer">
    <button (click)="dialogDisplayEdit=false" class="btn btn-primary m-1" type="button"> {{ 'Close' | translate }} </button>
    <button (click)="onEdit()" class="btn btn-success m-1" type="button"> {{ 'Update' | translate }} </button>
  </ng-template>
</p-dialog>
<!-- END Edit Dialog -->
