<div class="card mt-1">
  <div class="card-header" style="background-color: #f7f7f7">
    <div class="row">
      <div class="col-md-4 pull-left">
        <!--Add-->
        <span>
          <button (click)="onEdit(1)" [hidden]="addBtnVisible" class="btn btn-sm btn-primary mx-1"
                  title="{{'Add' | translate}}" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </span>
        <!--UPDATE-->
        <span>
          <button (click)="onEdit(2)" [disabled]="updateBtnDisable == false" [hidden]="updateBtnVisible" class="btn btn-sm btn-success mx-1"
                  title="{{'Update' | translate}}" type="button">
            <i class="fa fa-pencil"></i>
          </button>
        </span>
        <!--DELETE-->
        <span>
          <button (click)="onEdit(3)" [disabled]="deleteBtnDisable == false" [hidden]="deleteBtnVisible" class="btn btn-sm btn-danger mx-1"
                  title="{{'Delete' | translate}}" type="button">
            <i class="fa fa-trash-o"></i>
          </button>
        </span>
        <!-- GENERATE -->
        <span>
          <button (click)="onEdit(4)" [disabled]="generateBtnDisable == false" [hidden]="generateBtnVisible" class="btn btn-sm btn-secondary mx-1"
                  title="{{'Generate' | translate}}" type="button">
            <i class="fa fa-file"></i>
          </button>
        </span>
      </div>

      <div class="col-md-3">
        <span style="font-size: 14px; color: #5f5b5b">
          <b>{{ listName | translate }}</b>
        </span>
      </div>
      <div class="d-flex col-md-5 justify-content-end">
        <div>
          <p-splitButton [model]="items" id="button-icon-only" label="{{'Exportation' | translate }}" styleClass="p-button-secondary "></p-splitButton>
        </div>

        <button (click)="onSaveView()" class="btn btn-sm" title="{{ 'Save the view' | translate }}" type="button">
          <i class="sidebar-item-icon"><img height="25px" src="./assets/img/logos/saveview.png" width="25px" /></i>
        </button>

        <p-multiSelect
          [(ngModel)]="selectedColumns"
          [options]="cols"
          [style]="{ minWidth: '190px' }"
          class="mx-1"
          defaultLabel="{{ 'Select' | translate }}"
          dropdownIcon="pi pi-table"
          maxSelectedLabels="0"
          optionLabel="header"
          selectedItemsLabel="{{ 'Selected columns' | translate }}"
        ></p-multiSelect>
      </div>
    </div>
  </div>
</div>

<div>
  <p-table
    (onLazyLoad)="loadDataLazy($event)"
    (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onRowUnselect($event)"
    [(selection)]="selectedObjects"
    [columns]="selectedColumns"
    [lazy]="true"
    [paginator]="true"
    [reorderableColumns]="true"
    [reorderableColumns]="true"
    [resizableColumns]="true"
    [responsive]="true"
    [rowsPerPageOptions]="[5, 10, 20, 50, 100, 1000]"
    [rows]="size"
    [scrollable]="true"
    [totalRecords]="collectionSize"
    [value]="objectList"
    selectionMode="multiple"
    sortMode="multiple">

    <ng-template let-columns pTemplate="header">
      <tr>
        <th style="width: 40px">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let col of columns" pReorderableColumn style="width: 160px; font-size: 13px">
          {{ col.header | translate }}
        </th>
      </tr>
    </ng-template>
    <ng-template let-columns="columns" let-rowData let-rowIndex="rowIndex" pTemplate="body">
      <tr [pSelectableRowIndex]="rowIndex" [pSelectableRow]="rowData">
        <td style="width: 40px">
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>

        <td *ngFor="let col of columns; let i = index" style="width: 160px">
          <span *ngIf="typeOf(col.type) === 1">
            {{ rowData[col?.field] ? rowData[col?.field][col?.child] : "" }}
          </span>
          <span *ngIf="typeOf(col.type) === 2">
            {{ rowData[col?.field] ? rowData[col?.field] : "" }}
          </span>
          <span *ngIf="typeOf(col.type) === 3">
            {{ rowData[col?.field] | date: "dd-MM-yyyy HH:mm" }}
          </span>
          <span *ngIf="typeOf(col.type) === 4">
            <p-checkbox [(ngModel)]="rowData[col.field]" [disabled]="true" binary="true"></p-checkbox>
          </span>

          <span *ngIf="typeOf(col.type) === 5">
            {{ rowData[col?.field] ? rowData[col?.field][col?.child][col?.child2] : "" }}
          </span>
        </td>

      </tr>
    </ng-template>
  </p-table>
</div>

<ngx-spinner
  bdColor="rgba(255,255,255,0)"
  color="#00d2ff"
  size="large"
  type="ball-spin-fade-rotating"
></ngx-spinner>
