<p-breadcrumb [home]="home" [model]="items"></p-breadcrumb>

<p-panel header="{{ 'Filter' | translate }}">

  <div class="row">
    <!-- Code -->
    <div class="col-md-4" style="margin-top: 10px;">
      <label class="font-weight-bold"> {{ 'Code' | translate }} </label>
      <input [(ngModel)]="searchCode" pInputText type="text"/>
    </div>
    <!-- Description -->
    <div class="col-md-4" style="margin-top: 10px;">
      <label class="font-weight-bold"> {{ 'Description' | translate }} </label>
      <input [(ngModel)]="searchDescription" pInputText type="text"/>
    </div>
    <!-- Adress -->
    <div class="col-md-4" style="margin-top: 10px;">
      <label class="font-weight-bold"> {{ 'Adress' | translate }} </label>
      <input [(ngModel)]="searchAdress" pInputText type="text"/>
    </div>
    <!-- Phone Number -->
    <div class="col-md-4" style="margin-top: 20px;">
      <label class="font-weight-bold"> {{ 'Phone Number' | translate }} </label>
      <p-inputMask mask="(+999) 9 99 99 99 99" [(ngModel)]="searchPhoneNumber"></p-inputMask>
    </div>
    <!-- Fax Number -->
    <div class="col-md-4" style="margin-top: 20px;">
      <label class="font-weight-bold"> {{ 'Fax Number' | translate }} </label>
      <p-inputMask mask="(+999) 9 99 99 99 99" [(ngModel)]="searchFaxNumber"></p-inputMask>
    </div>
    <!-- Responsabilite Civile -->
    <div class="col-md-4" style="margin-top: 20px;">
      <label class="font-weight-bold"> {{ 'Responsabilite Civile' | translate }} </label>
      <input [(ngModel)]="searchResponsabiliteCivile" pInputText type="text"/>
    </div>
    <!-- Identifiant Fiscal -->
    <div class="col-md-4" style="margin-top: 20px;">
      <label class="font-weight-bold"> {{ 'Identifiant Fiscal' | translate }} </label>
      <input [(ngModel)]="searchIdentifiantFiscal" pInputText type="text"/>
    </div>
    <!-- Identifiant Commun Entreprise -->
    <div class="col-md-4" style="margin-top: 20px;">
      <label class="font-weight-bold"> {{ 'Identifiant Commun Entreprise' | translate }} </label>
      <input [(ngModel)]="searchIdentifiantCommunEntreprise" pInputText type="text"/>
    </div>
    <!-- Country -->
    <div class="col-md-4" style="margin-top: 20px;">
      <label class="font-weight-bold"> Country </label>
      <p-autoComplete [(ngModel)]="searchCountry" [suggestions]="countryList"
                      (completeMethod)="filterCountry($event)" field="code" [dropdown]="true"
                      placeholder="{{'Select a country' | translate}}">
        <ng-template let-country pTemplate="item">
          <div class="country-item">
            <div>{{country.code}}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>
  </div>

  <br/>

  <div class=" text-center" style="margin: 10px;">
    <button (click)="reset()" class="btn btn-primary m-1" type="button"> {{ 'Reset' | translate }} </button>
    <button (click)="search()" class="btn btn-success m-1" type="button"> {{ 'Search ' | translate }} </button>
  </div>


  <app-data-table
    (exportBtnExcelGlobal)="onExportExcel($event)"
    (exportBtnExcelVue)="onExportExcel($event)"
    (exportBtnPdf)="onExportPdf($event)"
    (lazyLoadData)="loadDataLazy($event)"
    (objectEdited)="onObjectEdited($event)"
    [className]="className"
    [collectionSize]="collectionSize"
    [cols]="cols"
    [listName]="listTitle"
    [objectList]="organizationList"
    [generateBtnVisible] = true
    [size]="size">
  </app-data-table>

</p-panel>

<ngx-spinner
  bdColor="rgba(255,255,255,0)"
  color="#00d2ff"
  size="large"
  type="ball-spin-fade-rotating"
></ngx-spinner>

<p-confirmDialog
  [acceptLabel]="'Oui'"
  [rejectLabel]="'Non'"
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>

<p-toast
  [baseZIndex]="5000"
  position="top-right">

</p-toast>

<!-- BEGIN Add Dialog -->
<p-dialog [(visible)]="dialogDisplayAdd" [draggable]="true" [modal]="true" [resizable]="true"
           [style]="{width: '70vw'}" header="Header">
  <br/>
  <div class="row">
    <!-- Code -->
    <div class="col-md-4" style="margin-top: 10px;">
      <label class="font-weight-bold"> {{ 'Code' | translate }} </label>
      <input [(ngModel)]="addCode" pInputText type="text"/>
    </div>
    <!-- Description -->
    <div class="col-md-4" style="margin-top: 10px;">
      <label class="font-weight-bold"> {{ 'Description' | translate }} </label>
      <input [(ngModel)]="addDescription" pInputText type="text"/>
    </div>
    <!-- Adress -->
    <div class="col-md-4" style="margin-top: 10px;">
      <label class="font-weight-bold"> {{ 'Adress' | translate }} </label>
      <input [(ngModel)]="addAdress" pInputText type="text"/>
    </div>
    <!-- Phone Number -->
    <div class="col-md-4" style="margin-top: 20px;">
      <label class="font-weight-bold"> {{ 'Phone Number' | translate }} </label>
      <p-inputMask mask="(+999) 9 99 99 99 99" [(ngModel)]="addPhoneNumber"></p-inputMask>
    </div>
    <!-- Fax Number -->
    <div class="col-md-4" style="margin-top: 20px;">
      <label class="font-weight-bold"> {{ 'Fax Number' | translate }} </label>
      <p-inputMask mask="(+999) 9 99 99 99 99" [(ngModel)]="addFaxNumber"></p-inputMask>
    </div>
    <!-- Responsabilite Civile -->
    <div class="col-md-4" style="margin-top: 20px;">
      <label class="font-weight-bold"> {{ 'Responsabilite Civile' | translate }} </label>
      <input [(ngModel)]="addResponsabiliteCivile" pInputText type="text"/>
    </div>
    <!-- Identifiant Fiscal -->
    <div class="col-md-4" style="margin-top: 20px;">
      <label class="font-weight-bold"> {{ 'Identifiant Fiscal' | translate }} </label>
      <input [(ngModel)]="addIdentifiantFiscal" pInputText type="text"/>
    </div>
    <!-- Identifiant Commun Entreprise -->
    <div class="col-md-4" style="margin-top: 20px;">
      <label class="font-weight-bold"> {{ 'Identifiant Commun Entreprise' | translate }} </label>
      <input [(ngModel)]="addIdentifiantCommunEntreprise" pInputText type="text"/>
    </div>
    <!-- Country -->
    <div class="col-md-4" style="margin-top: 20px;">
      <label class="font-weight-bold"> Country </label>
      <p-autoComplete [(ngModel)]="addCountry" [suggestions]="countryList"
                      (completeMethod)="filterCountry($event)" field="code" [dropdown]="true"
                      placeholder="{{'Select a country' | translate}}">
        <ng-template let-country pTemplate="item">
          <div class="country-item">
            <div>{{country.code}}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button (click)="dialogDisplayAdd=false" class="btn btn-primary m-1" type="button"> {{ 'Close' | translate }} </button>
    <button (click)="onSave()" class="btn btn-success m-1" type="button"> {{ 'Add' | translate }} </button>
  </ng-template>
</p-dialog>
<!-- END Add Dialog -->

<!-- BEGIN Edit Dialog -->
<p-dialog [(visible)]="dialogDisplayEdit" [draggable]="true" [modal]="true" [resizable]="true"
           [style]="{width: '70vw'}" header="Header">
  <br/>
  <div class="row">
    <!-- Code -->
    <div class="col-md-4" style="margin-top: 10px;">
      <label class="font-weight-bold"> {{ 'Code' | translate }} </label>
      <input [(ngModel)]="updateCode" pInputText type="text"/>
    </div>
    <!-- Description -->
    <div class="col-md-4" style="margin-top: 10px;">
      <label class="font-weight-bold"> {{ 'Description' | translate }} </label>
      <input [(ngModel)]="updateDescription" pInputText type="text"/>
    </div>
    <!-- Adress -->
    <div class="col-md-4" style="margin-top: 10px;">
      <label class="font-weight-bold"> {{ 'Adress' | translate }} </label>
      <input [(ngModel)]="updateAdress" pInputText type="text"/>
    </div>
    <!-- Phone Number -->
    <div class="col-md-4" style="margin-top: 20px;">
      <label class="font-weight-bold"> {{ 'Phone Number' | translate }} </label>
      <p-inputMask mask="(+999) 9 99 99 99 99" [(ngModel)]="updatePhoneNumber"></p-inputMask>
    </div>
    <!-- Fax Number -->
    <div class="col-md-4" style="margin-top: 20px;">
      <label class="font-weight-bold"> {{ 'Fax Number' | translate }} </label>
      <p-inputMask mask="(+999) 9 99 99 99 99" [(ngModel)]="updateFaxNumber"></p-inputMask>
    </div>
    <!-- Responsabilite Civile -->
    <div class="col-md-4" style="margin-top: 20px;">
      <label class="font-weight-bold"> {{ 'Responsabilite Civile' | translate }} </label>
      <input [(ngModel)]="updateResponsabiliteCivile" pInputText type="text"/>
    </div>
    <!-- Identifiant Fiscal -->
    <div class="col-md-4" style="margin-top: 20px;">
      <label class="font-weight-bold"> {{ 'Identifiant Fiscal' | translate }} </label>
      <input [(ngModel)]="updateIdentifiantFiscal" pInputText type="text"/>
    </div>
    <!-- Identifiant Commun Entreprise -->
    <div class="col-md-4" style="margin-top: 20px;">
      <label class="font-weight-bold"> {{ 'Identifiant Commun Entreprise' | translate }} </label>
      <input [(ngModel)]="updateIdentifiantCommunEntreprise" pInputText type="text"/>
    </div>
    <!-- Country -->
    <div class="col-md-4" style="margin-top: 20px;">
      <label class="font-weight-bold"> Country </label>
      <p-autoComplete [(ngModel)]="updateCountry" [suggestions]="countryList"
                      (completeMethod)="filterCountry($event)" field="code" [dropdown]="true"
                      placeholder="{{'Select a country' | translate}}">
        <ng-template let-country pTemplate="item">
          <div class="country-item">
            <div>{{country.code}}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button (click)="dialogDisplayEdit=false" class="btn btn-primary m-1" type="button"> {{ 'Close' | translate }} </button>
    <button (click)="onEdit()" class="btn btn-success m-1" type="button"> {{ 'Update' | translate }} </button>
  </ng-template>
</p-dialog>
<!-- END Edit Dialog -->
