<p-breadcrumb [home]="home" [model]="items"></p-breadcrumb>
<p-panel header="{{ 'Filter' | translate }}">

    <div class="row">
      <div class="col-md-3" style="margin-top: 10px;">
        <label class="font-weight-bold"> First Name </label>
        <input [(ngModel)]="searchFirstName" pInputText type="text"/>
      </div>
      <div class="col-md-3" style="margin-top: 10px;">
        <label class="font-weight-bold"> Last Name </label>
        <input [(ngModel)]="searchLastName" pInputText type="text"/>
      </div>
      <div class="col-md-3" style="margin-top: 10px;">
        <label class="font-weight-bold"> Registration Number </label>
        <input [(ngModel)]="searchRegistrationNumber" pInputText type="text" pInputText type="text" pKeyFilter="num"
               placeholder="Numbers"/>
      </div>
      <div class="col-md-3" style="margin-top: 10px;">
        <label class="font-weight-bold"> Position </label>
        <p-autoComplete [(ngModel)]="searchPosition" [suggestions]="employeePositionList"
                        (completeMethod)="filterPosition($event)" field="code" [dropdown]="true"
                        placeholder="{{'Select an employee position' | translate}}">
          <ng-template let-employeePosition pTemplate="item">
            <div class="country-item">
              <div>{{employeePosition.code}}</div>
            </div>
          </ng-template>
        </p-autoComplete>
      </div>

      <div class="col-md-3" style="margin-top: 20px;">
        <label class="font-weight-bold"> Status </label>
        <p-autoComplete [(ngModel)]="searchEmployeeStatus" [suggestions]="employeeStatusList"
                        (completeMethod)="filterEmployeeStatus($event)" field="code" [dropdown]="true"
                        placeholder="{{'Select an employee' | translate}}">
          <ng-template let-employeeStatus pTemplate="item">
            <div class="country-item">
              <div>{{employeeStatus.code}}</div>
            </div>
          </ng-template>
        </p-autoComplete>
      </div>
      <div class="col-md-3" style="margin-top: 20px;">
        <label class="font-weight-bold"> CIN </label>
        <input [(ngModel)]="searchCin" pInputText type="text"/>
      </div>
      <div class="col-md-3" style="margin-top: 20px;">
        <label class="font-weight-bold"> Email </label>
        <input [(ngModel)]="searchEmail" pInputText type="text" email="true" #prmEmail="ngModel"/>
      </div>
      <div class="col-md-3" style="margin-top: 20px;">
        <label class="font-weight-bold"> Phone Number </label>
        <p-inputMask mask="(+999) 9 99 99 99 99" [(ngModel)]="searchPhoneNumber"></p-inputMask>
      </div>

      <div class="col-md-3" style="margin-top: 20px;">
        <label class="font-weight-bold"> Address </label>
        <input [(ngModel)]="searchAddress" pInputText type="text"/>
      </div>
      <div class="col-md-3" style="margin-top: 20px;">
        <label class="font-weight-bold"> Birth Date </label>
        <p-calendar inputId="basic" [(ngModel)]="searchBirthDate" [showIcon]="true" inputId="icon"></p-calendar>
      </div>
      <div class="col-md-3" style="margin-top: 20px;">
        <label class="font-weight-bold"> RIB </label>
        <input [(ngModel)]="searchRib" pInputText type="text"/>
      </div>
      <div class="col-md-3" style="margin-top: 20px;">
        <label class="font-weight-bold"> CNSS Number </label>
        <input [(ngModel)]="searchCnssNumber" pInputText type="text"/>
      </div>

      <div class="col-md-3" style="margin-top: 20px;">
        <label class="font-weight-bold"> Gender </label>
        <input [(ngModel)]="searchGender" pInputText type="text"/>
      </div>
      <div class="col-md-3" style="margin-top: 20px;">
        <label class="font-weight-bold"> Family Situation </label>
        <input [(ngModel)]="searchFamilySituation" pInputText type="text"/>
      </div>
      <div class="col-md-3" style="margin-top: 20px;">
        <label class="font-weight-bold"> Kids Number </label>
        <input [(ngModel)]="searchKidsNumber" pInputText type="text" pKeyFilter="num" placeholder="Numbers"/>
      </div>
      <div class="col-md-3" style="margin-top: 20px;">
        <label class="font-weight-bold"> Manager </label>
        <p-autoComplete [(ngModel)]="searchManager" [suggestions]="employeeManagerList"
                        (completeMethod)="filterManager($event)" field="registrationNumber" [dropdown]="true"
                        placeholder="{{'Select an employee' | translate}}">
          <ng-template let-employeeManager pTemplate="item">
            <div class="country-item">
              <div>{{employeeManager.firstName}}</div>
            </div>
          </ng-template>
        </p-autoComplete>
      </div>
      <div class="col-md-3" style="margin-top: 20px;">
        <label class="font-weight-bold"> Hiring Date </label>
        <p-calendar inputId="basic" [(ngModel)]="searchHiringDate" [showIcon]="true" inputId="icon"></p-calendar>
      </div>
      <div class="col-md-3" style="margin-top: 20px;">
        <label class="font-weight-bold"> Salary </label>
        <input [(ngModel)]="searchSalaryAmount" pInputText type="text" pInputText type="text" pKeyFilter="num"
               placeholder="Numbers"/>
      </div>
      <div class="col-md-3" style="margin-top: 20px;">
        <label class="font-weight-bold"> Is Active </label> <br/>
        <p-toggleButton [(ngModel)]="searchIsActive" onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton>
      </div>
    </div>

    <br/>

    <div class=" text-center">
      <button (click)="reset()" class="btn btn-primary m-1" type="button">Réinitialiser</button>
      <button (click)="search()" class="btn btn-success m-1" type="button">Rechercher</button>
    </div>

  <app-data-table
    (exportBtnExcelGlobal)="onExportExcel($event)"
    (exportBtnExcelVue)="onExportExcel($event)"
    (exportBtnPdf)="onExportPdf($event)"
    (lazyLoadData)="loadDataLazy($event)"
    (objectEdited)="onObjectEdited($event)"
    [className]="className"
    [collectionSize]="collectionSize"
    [cols]="cols"
    [listName]="listTitle"
    [objectList]="employeeList"
    [generateBtnVisible]=true
    [size]="size">
  </app-data-table>

</p-panel>

<ngx-spinner
  bdColor="rgba(255,255,255,0)"
  color="#00d2ff"
  size="large"
  type="ball-spin-fade-rotating"
></ngx-spinner>

<p-confirmDialog
  [acceptLabel]="'Oui'"
  [rejectLabel]="'Non'"
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>

<p-toast
  [baseZIndex]="5000"
  position="top-right">

</p-toast>

<!-- BEGIN Add Dialog -->
<p-dialog [(visible)]="dialogDisplayAdd" [draggable]="true" [modal]="true" [resizable]="true"
          [style]="{width: '40vw'}" header="{{ 'ADD' | translate }}">
  <br/>
  <div class="row">
    <div class="col-md-3" style="margin-top: 10px;">
      <label class="font-weight-bold"> First Name </label>
      <input [(ngModel)]="addFirstName" pInputText type="text"/>
    </div>
    <div class="col-md-3" style="margin-top: 10px;">
      <label class="font-weight-bold"> Last Name </label>
      <input [(ngModel)]="addLastName" pInputText type="text"/>
    </div>
    <div class="col-md-3" style="margin-top: 10px;">
      <label class="font-weight-bold"> Registration Number </label>
      <input [(ngModel)]="addRegistrationNumber" pInputText type="text" pKeyFilter="num" placeholder="Numbers"/>
    </div>
    <div class="col-md-3" style="margin-top: 10px;">
      <label class="font-weight-bold"> Position </label>
      <p-autoComplete [(ngModel)]="addPosition" [suggestions]="employeePositionList"
                      (completeMethod)="filterPosition($event)" field="code" [dropdown]="true"
                      placeholder="{{'Select an employee position' | translate}}">
        <ng-template let-employeePosition pTemplate="item">
          <div class="country-item">
            <div>{{employeePosition.code}}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>

    <div class="col-md-3" style="margin-top: 20px;">
      <label class="font-weight-bold"> Status </label>
      <p-autoComplete [(ngModel)]="addEmployeeStatus" [suggestions]="employeeStatusList"
                      (completeMethod)="filterEmployeeStatus($event)" field="code" [dropdown]="true"
                      placeholder="{{'Select an employee' | translate}}">
        <ng-template let-employeeStatus pTemplate="item">
          <div class="country-item">
            <div>{{employeeStatus.code}}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>
    <div class="col-md-3" style="margin-top: 20px;">
      <label class="font-weight-bold"> CIN </label>
      <input [(ngModel)]="addCin" pInputText type="text"/>
    </div>
    <div class="col-md-3" style="margin-top: 20px;">
      <label class="font-weight-bold"> Email </label>
      <input [(ngModel)]="addEmail" pInputText type="text" email="true" #prmEmail="ngModel"/>
    </div>
    <div class="col-md-3" style="margin-top: 20px;">
      <label class="font-weight-bold"> Phone Number </label>
      <p-inputMask mask="(+999) 9 99 99 99 99" [(ngModel)]="addPhoneNumber"></p-inputMask>
    </div>

    <div class="col-md-3" style="margin-top: 20px;">
      <label class="font-weight-bold"> Address </label>
      <input [(ngModel)]="addAddress" pInputText type="text"/>
    </div>
    <div class="col-md-3" style="margin-top: 20px;">
      <label class="font-weight-bold"> Birth Date </label>
      <p-calendar inputId="basic" [(ngModel)]="addBirthDate" [showIcon]="true" inputId="icon"></p-calendar>
    </div>
    <div class="col-md-3" style="margin-top: 20px;">
      <label class="font-weight-bold"> RIB </label>
      <input [(ngModel)]="addRib" pInputText type="text"/>
    </div>
    <div class="col-md-3" style="margin-top: 20px;">
      <label class="font-weight-bold"> CNSS Number </label>
      <input [(ngModel)]="addCnssNumber" pInputText type="text"/>
    </div>

    <div class="col-md-3" style="margin-top: 20px;">
      <label class="font-weight-bold"> Gender </label>
      <input [(ngModel)]="addGender" pInputText type="text"/>
    </div>
    <div class="col-md-3" style="margin-top: 20px;">
      <label class="font-weight-bold"> Family Situation </label>
      <input [(ngModel)]="addFamilySituation" pInputText type="text"/>
    </div>
    <div class="col-md-3" style="margin-top: 20px;">
      <label class="font-weight-bold"> Kids Number </label>
      <input [(ngModel)]="addKidsNumber" pInputText type="text" pKeyFilter="num" placeholder="Numbers"/>
    </div>
    <div class="col-md-3" style="margin-top: 20px;">
      <label class="font-weight-bold"> Manager </label>
      <p-autoComplete [(ngModel)]="addManager" [suggestions]="employeeManagerList"
                      (completeMethod)="filterManager($event)" field="registrationNumber" [dropdown]="true"
                      placeholder="{{'Select an employee' | translate}}">
        <ng-template let-employeeManager pTemplate="item">
          <div class="country-item">
            <div>{{employeeManager.firstName}}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>
    <div class="col-md-3" style="margin-top: 20px;">
      <label class="font-weight-bold"> Hiring Date </label>
      <p-calendar inputId="basic" [(ngModel)]="addHiringDate" [showIcon]="true" inputId="icon"></p-calendar>
    </div>
    <div class="col-md-3" style="margin-top: 20px;">
      <label class="font-weight-bold"> Salary </label>
      <input [(ngModel)]="addSalaryAmount" pInputText type="text" pInputText type="text" pKeyFilter="num"
             placeholder="Numbers"/>
    </div>
    <div class="col-md-3" style="margin-top: 20px;">
      <label class="font-weight-bold"> Is Active </label> <br/>
      <p-toggleButton [(ngModel)]="addIsActive" onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button (click)="dialogDisplayAdd=false" class="btn btn-primary m-1" type="button"> Fermer</button>
    <button (click)="onSave()" class="btn btn-success m-1" type="button"> Ajouter</button>
  </ng-template>
</p-dialog>
<!-- END Add Dialog -->

<!-- BEGIN Edit Dialog -->
<p-dialog [(visible)]="dialogDisplayEdit" [draggable]="true" [modal]="true" [resizable]="true" [style]="{width: '50vw'}" header="{{ 'UPDATE' | translate }}">
  <br/>
  <div class="row">
    <div class="col-md-2" style="margin-top: 10px;">
      <input [(ngModel)]="updateFirstName" type="file" accept="image/png" (change)="selectFile($event)"/>
    </div>
    <div class="col-md-2" style="margin-top: 10px;">
      <img src="{{updatePicture}}" style="display: block; margin-left: auto; margin-right: auto; height: 11rem;"/>
    </div>
    <div class="col-md-8" style="margin-top: 10px;">
      <div class="row">
        <div class="col-md-6">
          <label class="font-weight-bold"> First Name </label>
          <input [(ngModel)]="updateFirstName" pInputText type="text"/>
        </div>
        <div class="col-md-6">
          <label class="font-weight-bold"> Last Name </label>
          <input [(ngModel)]="updateLastName" pInputText type="text"/>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <label class="font-weight-bold"> Email </label>
          <input [(ngModel)]="updateEmail" pInputText type="text" email="true" #prmEmail="ngModel"/>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="margin-top: 20px;">
      <label class="font-weight-bold"> Registration Number </label>
      <input [(ngModel)]="updateRegistrationNumber" pInputText type="text" pKeyFilter="num" placeholder="Numbers"/>
    </div>
    <div class="col-md-6" style="margin-top: 20px;">
      <label class="font-weight-bold"> Position </label>
      <p-autoComplete [(ngModel)]="updatePosition" [suggestions]="employeePositionList"
                      (completeMethod)="filterPosition($event)" field="code" [dropdown]="true"
                      placeholder="{{'Select an employee position' | translate}}">
        <ng-template let-employeePosition pTemplate="item">
          <div class="country-item">
            <div>{{employeePosition.code}}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>

    <div class="col-md-6" style="margin-top: 20px;">
      <label class="font-weight-bold"> Status </label>
      <p-autoComplete [(ngModel)]="updateEmployeeStatus" [suggestions]="employeeStatusList"
                      (completeMethod)="filterEmployeeStatus($event)" field="code" [dropdown]="true"
                      placeholder="{{'Select an employee' | translate}}">
        <ng-template let-employeeStatus pTemplate="item">
          <div class="country-item">
            <div>{{employeeStatus.code}}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>
    <div class="col-md-6" style="margin-top: 20px;">
      <label class="font-weight-bold"> CIN </label>
      <input [(ngModel)]="updateCin" pInputText type="text"/>
    </div>
    <div class="col-md-6" style="margin-top: 20px;">
      <label class="font-weight-bold"> Phone Number </label>
      <p-inputMask mask="(+999) 9 99 99 99 99" [(ngModel)]="updatePhoneNumber"></p-inputMask>
    </div>

    <div class="col-md-6" style="margin-top: 20px;">
      <label class="font-weight-bold"> Address </label>
      <input [(ngModel)]="updateAddress" pInputText type="text"/>
    </div>
    <div class="col-md-6" style="margin-top: 20px;">
      <label class="font-weight-bold"> Birth Date </label>
      <p-calendar inputId="basic" [(ngModel)]="updateBirthDate" [showIcon]="true" inputId="icon"></p-calendar>
    </div>
    <div class="col-md-6" style="margin-top: 20px;">
      <label class="font-weight-bold"> RIB </label>
      <input [(ngModel)]="updateRib" pInputText type="text"/>
    </div>
    <div class="col-md-6" style="margin-top: 20px;">
      <label class="font-weight-bold"> CNSS Number </label>
      <input [(ngModel)]="updateCnssNumber" pInputText type="text"/>
    </div>

    <div class="col-md-6" style="margin-top: 20px;">
      <label class="font-weight-bold"> Gender </label>
      <input [(ngModel)]="updateGender" pInputText type="text"/>
    </div>
    <div class="col-md-6" style="margin-top: 20px;">
      <label class="font-weight-bold"> Family Situation </label>
      <input [(ngModel)]="updateFamilySituation" pInputText type="text"/>
    </div>
    <div class="col-md-6" style="margin-top: 20px;">
      <label class="font-weight-bold"> Kids Number </label>
      <input [(ngModel)]="updateKidsNumber" pInputText type="text" pKeyFilter="num" placeholder="Numbers"/>
    </div>
    <div class="col-md-6" style="margin-top: 20px;">
      <label class="font-weight-bold"> Manager </label>
      <p-autoComplete [(ngModel)]="updateManager" [suggestions]="employeeManagerList"
                      (completeMethod)="filterManager($event)" field="registrationNumber" [dropdown]="true"
                      placeholder="{{'Select an employee' | translate}}">
        <ng-template let-employeeManager pTemplate="item">
          <div class="country-item">
            <div>{{employeeManager.firstName}}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>
    <div class="col-md-6" style="margin-top: 20px;">
      <label class="font-weight-bold"> Hiring Date </label>
      <p-calendar inputId="basic" [(ngModel)]="updateHiringDate" dateFormat="dd/MM/yyyy" [showIcon]="true" inputId="icon"></p-calendar>
    </div>
    <div class="col-md-6" style="margin-top: 20px;">
      <label class="font-weight-bold"> Salary </label>
      <input [(ngModel)]="updateNewSalaryAmount" pInputText type="text" pInputText type="text" pKeyFilter="num"
             placeholder="Numbers"/>
    </div>
    <div class="col-md-6" style="margin-top: 20px;">
      <label class="font-weight-bold"> Is Active </label> <br/>
      <p-toggleButton [(ngModel)]="updateIsActive" onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button (click)="dialogDisplayEdit=false" class="btn btn-primary m-1" type="button"> Fermer</button>
    <button (click)="onEdit()" class="btn btn-success m-1" type="button"> Modifier</button>
  </ng-template>
</p-dialog>
<!-- END Edit Dialog -->
